<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Online Clothing Store</title>
	<link rel="stylesheet" type="text/css" href="me.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
	

</head>
<body>

	<div class="box1">
		
		<h5>Welcome!</h5>
		<div class="namaste">
			<i class="fas fa-praying-hands"></i>
			
		</div>
	</div>
	<nav>
		<label class="logo">Online <font>Clothing</font>Store</label>

	<div class="subbox">
		<ol>
			<li><a href="me.html">Home</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">Promotion</a></li>
			<li><a href="#">Pages</a></li>
			<li><a href="#">Contacts</a></li>
			<li><a href="#">About Us</a></li>

		</ol>
		

	</div>

	<div class="cover">
		<img src="cvr.jpg">
		<div class="text">
			<h1>Offers for New Arrival</h1>
			 <h4> Winter Collection 2022</h4>
		       <form action="" method="get">
			     <input type="submit" value="Shop Now">
		       </form>

			
		</div>


	</div>
	<div class="image22">
		
		<img src="us.jpg" height="300" width="300">
		<h6>Men's</h6>
	</div>
	<div class="image23">
		<img src="haha.jpg" height="300" width="300">
		<h6>Women's</h6>
		
	</div>
	<div class="image24">
		<img src="aww.jpg" height="300" width="300">
		<h6>Kids</h6>
		
	</div>

</body>
</html>
